.squaremeter {
  width: 100px;
  height: 100px;
  border: 10px solid transparent;
  margin: 2px 0px 2px 1px;
}

.squaremeter-unknown {
  background-color: grey;
}

.squaremeter-testobot {
  background-color: grey;
}

.squaremeter-good {
  background-color: rgba(0,255,0,0.5);
}

.squaremeter-hot {
  background-color: rgba(255,0,0,0.5);
}

.squaremeter-cold {
  background-color: rgba(0,0,255,0.5);
}

.squaremeter-testobot-east {
  border-right: 10px solid orange;
}

.squaremeter-testobot-south {
  border-bottom: 10px solid orange;
}

.squaremeter-testobot-west {
  border-left: 10px solid orange;
}

.squaremeter-testobot-north {
  border-top: 10px solid orange;
}