.testobot > img {
  width: 80px;
}

.testobot-east > img {
  transform: rotate(270deg);
}

.testobot-south > img {
  transform: rotate(0deg);
}

.testobot-west > img {
  transform: rotate(90deg);
}

.testobot-north > img {
  transform: rotate(180deg);
}
